# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
.terraform.lock.hcl
crash.log
tfplan

# Secrets
k8s/apps/minecraft/secret.yaml
*.pem
*.key
yc-key.json
**/function.zip

# OS
.DS_Store
